

*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{
background:#080808;
color:#f7e7b5;
font-family:'Cairo',sans-serif;
line-height:2;
}


h1,h2,h3{
font-family:'Amiri',serif;
}


.container{
width:90%;
max-width:1200px;
margin:auto;
}


section{
padding:80px 0;
}


/* HERO */

.hero{

min-height:100vh;

display:flex;
align-items:center;
justify-content:center;

text-align:center;

background:

linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.9)
),

url("IMG_20260728_160350_985.jpg");

background-size:cover;
background-position:center;

}


.hero h1{

font-size:80px;
color:#d4af37;

}


.hero p{

font-size:25px;
margin:15px;

}



.btn{

display:inline-block;

background:#d4af37;

color:#111;

padding:15px 40px;

border-radius:40px;

text-decoration:none;

font-weight:bold;

margin-top:20px;

transition:.3s;

}


.btn:hover{

transform:scale(1.05);

}



/* TITLES */


.title{

text-align:center;

font-size:45px;

color:#d4af37;

margin-bottom:40px;

}




/* BOOK SECTION */


.book{

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

align-items:center;

}



.book img{

width:100%;

border-radius:25px;

box-shadow:0 20px 60px #000;

}





/* SAMPLE CARDS */


.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}



.card{

background:#151515;

border:1px solid #80651b;

border-radius:25px;

padding:25px;

text-align:center;

}



.card img{

width:100%;

border-radius:20px;

}





/* AUDIO */


audio{

width:100%;

margin-top:20px;

}





/* PURCHASE */


.purchase{

background:#111;

border-radius:30px;

padding:50px;

text-align:center;

}





footer{

background:#050505;

padding:30px;

text-align:center;

color:#aaa;

}




@media(max-width:800px){


.hero h1{

font-size:50px;

}


.book{

grid-template-columns:1fr;

}


.title{

font-size:35px;

}


}

